@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .divider :not(:last-child) {
    @apply relative pr-6;
  }
  .divider :not(:last-child)::before {
    content: '';
    @apply absolute bg-gray-200 right-3 w-px  h-full;
  }
}

@layer components {
  .button-primary {
    @apply px-6 py-3 font-bold bg-green-600  text-white rounded-md;
  }
  .input {
    @apply bg-white rounded-md  h-10 border border-gray-300 px-2;
  }
}
