@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
body :focus {
  @apply outline-green-600;
}

input:disabled,
select:disabled {
  opacity: 0.7;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .divider {
    @apply divide-x space-x-2 divide-gray-200;
  }
  .divider :not(:first-child) {
    @apply relative pl-2;
  }
  .absolute-center-y {
    @apply absolute top-1/2 -translate-y-1/2;
  }
}

@layer components {
  .button-primary {
    @apply px-6 py-2 font-bold bg-green-600 text-white rounded-md border border-green-600;
  }
  .button-primary-invert {
    @apply px-6 py-2 font-bold bg-white text-green-600 rounded-md  border  border-green-600;
  }
  .button-primary-disable {
    @apply px-6 py-2 font-bold bg-gray-200  text-gray-500 rounded-md border border-gray-200;
  }
  .input {
    @apply bg-white rounded-md  h-10 border border-gray-300 px-2;
  }
  .input-error {
    @apply outline-none border border-red-500 focus:outline-none;
  }
  .select {
    @apply relative;
    > select {
      @apply input w-full appearance-none pr-6;
    }
    &::before {
      content: '';
      @apply absolute-center-y right-2 size-4 bg-[url('/images/arrow-down.svg')] bg-no-repeat bg-center;
    }
  }

  .spinner {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #16a34a 94%, #0000) top/3.8px 3.8px no-repeat, conic-gradient(#0000 30%, #16a34a);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 3.8px), #000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3.8px), #000 0);
    animation: spinner-c7wet2 1s infinite linear;
  }

  @keyframes spinner-c7wet2 {
    100% {
      transform: rotate(1turn);
    }
  }

  .check-box {
    @apply flex items-center;
    > input {
      @apply hidden;
    }
    .check-box-icon {
      @apply inline-block size-4 border border-gray-300 rounded-sm mr-2 bg-[url('/images/check.svg')] bg-no-repeat bg-center bg-cover;
    }
    > input:checked + .check-box-icon {
      @apply bg-green-600;
    }
  }

  .link {
    @apply ml-auto inline-block size-4 bg-[url('/images/arrow-right.svg')] bg-no-repeat bg-center;
  }
}
